<div class="gs-courses">
  <button class="add-btn" (click)="isAddCourseForm = true">Add Courses</button>

  <div class="gs-pro-form" *ngIf="isAddCourseForm">
    <h1> {{isEditCourseForm ? cname.value : "Add Course"}}</h1>

    <div class="gs-container">
      <form [formGroup]="courseForm">
        <div class="form-group">
          <p class="w-100">Course Name</p>
          <input type="text" formControlName="course_name" class="w-100" id="course_name" class="w-100" />
          <div *ngIf="cname.invalid && (cname.dirty || cname.touched)" class="invalid-feedback">
            <div *ngIf="cname.errors?.['required']">
              This field is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <p class="w-100">Course Description</p>
          <angular-editor formControlName="course_description" [config]="editorConfig"></angular-editor>
        </div>
        <div class="form-100">
          <div class="form-group form-50">
            <p class="w-100">Course Price</p>
            <input type="text" formControlName="course_price" class="w-100" id="course_price" class="w-100" />
            <div *ngIf="price.invalid && (price.dirty || price.touched)" class="invalid-feedback">
              <div *ngIf="price.errors?.['required']">
                This field is required.
              </div>
            </div>
          </div>
          <div class="form-group form-50">
            <p class="w-100">Course Discounted Price</p>
            <input type="text" formControlName="course_discount_price" class="w-100" id="course_discount_price"
              class="w-100" />
          </div>
        </div>
        <div class="form-100">
          <div class="form-group form-50">
            <p class="w-100">Course Duration</p>
            <input type="text" formControlName="course_duration" class="w-100" id="course_duration" class="w-100" />
          </div>
          <div class="form-group form-50">
            <p class="w-100">Course Extended Duration</p>
            <input type="text" formControlName="course_extended_duration" class="w-100" id="course_extended_duration"
              class="w-100" />
          </div>
        </div>
        <br>
        <div class="form-group">
          <p class="w-100 mt-10">  <br />Course Image</p>
          <input type="text" formControlName="course_image" class="w-100" id="course_image" class="w-100" />
        </div>
        <div class="form-group">
          <p class="w-100">Course Instructor</p>
          <input type="text" formControlName="course_instructor" class="w-100" id="course_instructor" class="w-100" />
        </div>

        <button class="add-btn" style="margin-top: 10px" *ngIf="!courseForm.invalid && !isEditCourseForm"
          (click)="addCourse()">
          Add Course
        </button>
        <button class="add-btn add-btn-dis" *ngIf="courseForm.invalid  && !isEditCourseForm" disabled
          (click)="addCourse()">
          Add Course
        </button>

        <button class="add-btn" style="margin-top: 10px; display: inline"
          *ngIf="!courseForm.invalid && isEditCourseForm" (click)="updateCourse()">Update Course</button>
        <button class="add-btn add-btn-dis" style=" display: inline" *ngIf="courseForm.invalid  && isEditCourseForm"
          disabled (click)="updateCourse()">
          Update Course
        </button>

        <button class="add-btn" style="margin-left: 20px;  display: inline" (click)="Lesson()" *ngIf="isEditCourseForm"> Lessons </button>

        <button class="add-btn" (click)="cancel()">
          Cancel
        </button>
      </form>
    </div>
  </div>


  <!-- Add Lessons /// -->
  <div class="gs-pro-form" *ngIf="lessonSection">
    <h1> {{ currentCourse.course_name }}</h1>
    <button class="add-btn" style="margin-top: 10px" *ngIf="isAddLessonForm==false" (click)="isAddLessonForm=true; Lesson()">
      Add Lesson
    </button>

    <div class="gs-container">
      <form [formGroup]="lessonForm" *ngIf="isAddLessonForm">
        <div class="form-group">
          <p class="w-100">Lesson Name</p>
          <input type="text" formControlName="lesson_name" class="w-100" id="lesson_name" class="w-100" />
        </div>
        <div class="form-group">
          <p class="w-100">Lesson Description</p>
          <angular-editor formControlName="lesson_description" [config]="editorConfig"></angular-editor>
        </div>
        <div class="form-group">
          <p class="w-100">Lesson Type</p>
          <select formControlName="lesson_type" class="w-100" style="padding: 7px">
            <option value="Youtube">Youtube</option>
            <option value="Vimeo">Vimeo</option>
          </select>
        </div>
        <div class="form-group">
          <p class="w-100">Lesson URL</p>
          <input type="text" formControlName="lesson_url" class="w-100" id="lesson_url" class="w-100" />
          <input type="hidden" formControlName="course_id" class="w-100" id="course_id" class="w-100" />
        </div>

        <button class="add-btn" style="margin-top: 10px; display: inline"
          *ngIf="!lessonForm.invalid && isAddLessonForm && !isEditLessonForm" (click)="addLesson()">Add Lesson</button>
        <button class="add-btn add-btn-dis" style=" display: inline" *ngIf="lessonForm.invalid  && isAddLessonForm && !isEditLessonForm"
          disabled (click)="addLesson()">
          Add Lesson
        </button>

        <button class="add-btn" style="margin-top: 10px; display: inline" *ngIf="isEditLessonForm && !lessonForm.invalid" (click)="updateLesson()">Update</button>
        <button class="add-btn  add-btn-dis" *ngIf="isEditLessonForm && lessonForm.invalid" (click)="updateLesson()">Update</button>

      </form>
    </div>

    <div class="course-table" *ngIf="lessonsList.length > 0">
      <table>
        <tr>
          <th>Sr. No.</th>
          <th>Lesson Name</th>
          <th>Lesson Type</th>
          <th>Lesson Url</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let lesson of lessonsList; index as i">
          <td>{{i+1}}</td>
          <td (click)="viewLesson(lesson, i)">{{lesson.lesson_name}}</td>
          <td>{{lesson.lesson_type}}</td>
          <td>{{lesson.lesson_url}}</td>
          <td>{{lesson.created_at}}</td>
          <td>{{lesson.updated_at}}</td>
          <td><button class="add-btn" (click)="deleteLesson(lesson, i)">Delete</button></td>
        </tr>

      </table>
    </div>



    <button class="add-btn" (click)="cancel()">
      Cancel
    </button>
  </div>


  <div class="course-table">
    <table>
      <tr>
        <th>Sr. No</th>
        <th>Course Name</th>
        <th>Course Image</th>
        <th>Course Instructor</th>
        <th>Course Duration</th>
        <th>Course Price</th>
        <th>Updated At</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let course of courses; index as i">
        <td>{{i+1}}</td>
        <td (click)="viewCourse(course, i)" style="cursor: pointer">{{course.course_name}}</td>
        <td>{{course.course_image}}</td>
        <td>{{course.course_instructor}}</td>
        <td>{{course.course_duration}}</td>
        <td>{{course.course_price}}</td>
        <td>{{course.updated_at}}</td>
        <td>{{course.created_at}}</td>
        <td><button class="add-btn" (click)="deleteCourse(course, i)">Delete</button></td>
      </tr>
    </table>
  </div>


</div>
