<div class="gs-courses">


  <div class="gs-ind-course">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/learn-insurance-academy.appspot.com/o/ss.png?alt=media&token=5a31cfa7-b2aa-4c12-983f-00aa5c8b06b0"
    />
    <h3>Course Name</h3>
    <h4>Prof. ABC DEF</h4>
  </div>
  <div class="gs-ind-course">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/learn-insurance-academy.appspot.com/o/ss.png?alt=media&token=5a31cfa7-b2aa-4c12-983f-00aa5c8b06b0"
    />
    <h3>Course Name</h3>
    <h4>Prof. ABC DEF</h4>
  </div>
  <div class="gs-ind-course">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/learn-insurance-academy.appspot.com/o/ss.png?alt=media&token=5a31cfa7-b2aa-4c12-983f-00aa5c8b06b0"
    />
    <h3>Course Name</h3>
    <h4>Prof. ABC DEF</h4>
  </div>
</div>
