<div class="gs-auth">
  <div class="gs-auth-form">
      <h1 class="text-center pb-20">Sign In</h1>
      <form action="">
        <div class="form-field">
          <label for="email">Email</label>
          <input type="text" id="email">
        </div>
        <div class="form-field">
          <label for="password">Password</label>
          <input type="password" id="password">
        </div>
        <p class="frgt-ps" routerLink="../reset-password">Forget Password</p>
        <div class="form-field mt-10">
          <input type="submit" id="submit" value="Submit">
        </div>
      </form>

      <p class="mt-30 text-center w-6">Don't have an account? <a routerLink="../signup">Signup Now</a></p>

  </div>
</div>
