<div class="gs-courses">
  <div class="course-table" *ngIf="isLoading == 2">
    <table>
      <tr>
        <th>Sr. No</th>
        <th>Course Name</th>
        <th>Status</th>
        <th>Price</th>
        <th>Order Id</th>
        <th>Transaction Id</th>
        <th>Updated At</th>
        <th>Created At</th>
      </tr>
      <tr *ngFor="let order of myOrders; index as i">
        <td>{{i+1}}</td>
        <td>{{order.course_name}}</td>
        <td>{{order.status == 1 ? 'Active' : 0}}</td>
        <td>Rs.{{order.fee}}</td>
        <td>{{order.order_id}}</td>
        <td>{{order.transaction_id}}</td>
        <td>{{order.updated_at}}</td>
        <td>{{order.created_at}}</td>
      </tr>
    </table>
  </div>
</div>
