<div class="gs-courses">
  <div class="gs-ind-course" *ngFor="let course of purchasedCourseList">
    <img  (click)="toNavigate(course.id)"
      src="https://firebasestorage.googleapis.com/v0/b/learn-insurance-academy.appspot.com/o/ss.png?alt=media&token=5a31cfa7-b2aa-4c12-983f-00aa5c8b06b0"
    />
    <h3 (click)="toNavigate(course.id)">{{course.course_name}}</h3>
    <h4 (click)="toNavigate(course.id)">{{course.course_instructor}}</h4>
  </div>
  <div *ngIf="purchasedCourseList.length <= 0 && isLoading == false">

    <h2>No Courses Found...</h2>

  </div>
</div>
