<div class="gs-auth">
  <div class="gs-auth-form">
      <h1 class="text-center pb-20">Sign Up</h1>
      <form action="">
        <div class="form-field">
          <label for="name">Name</label>
          <input type="text" id="name">
        </div>
        <div class="form-field">
          <label for="email">Email</label>
          <input type="text" id="email">
        </div>
        <div class="form-field">
          <label for="phone">Phone No.</label>
          <input type="text" id="phone">
        </div>
        <div class="form-field">
          <label for="password">Password</label>
          <input type="password" id="password">
        </div>

        <div class="form-field">
          <input type="submit" id="submit" value="Submit">
        </div>
      </form>

      <p class="mt-30 text-center w-6">Already have an account? <a routerLink="../signin">Signin</a></p>

  </div>
</div>
